.breadcrumb-wrapper {
  font-size: 14px;
}

.breadcrumb-item {
  cursor: pointer;
  color: var(--blue2);
  font-weight: 500;
}

.breadcrumb-item:hover {
  text-decoration: underline;
}

.separator {
  margin: 0 6px;
  color: var(--muted);
}
