<div class="container-fluid p-h-0 p-v-20 h-100 bg" style="background-image: url('assets/images/others/login-3.png')">
    <div class="d-flex flex-column justify-content-between h-100">
        <div class="d-none d-md-block"></div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-7 col-lg-5 m-h-auto">
                    <nz-card class="m-b-60 shadow-lg">
                        <div class="d-flex align-items-center justify-content-between m-b-30">
                            <img class="img-fluid" alt="" src="assets/images/logo/logo.png">
                            <h2 class="m-b-0">Sign Up</h2>
                        </div>

                        <!-- Error messages -->

                        <ng-template #emailError let-control>
                            <ng-container *ngIf="control.hasError('required')">
                                ¡Favor de ingresar su correo!
                            </ng-container>

                            <ng-container *ngIf="control.hasError('email')">
                                El formato del correo no es válido
                            </ng-container>
                        </ng-template>

                        <ng-template #passwordError let-control>
                            <ng-container *ngIf="control.hasError('required')">
                                ¡Favor de ingresar una contraseña!
                            </ng-container>

                            <ng-container *ngIf="control.hasError('minLength')">
                                Debe contener mínimo 8 caracteres <br>
                            </ng-container>

                            <ng-container *ngIf="control.hasError('uppercase')">
                                Debe contener al menos una mayúscula <br>
                            </ng-container>
                            <ng-container *ngIf="control.hasError('lowercase')">
                                Debe contener al menos una minúscula <br>
                            </ng-container>
                            <ng-container *ngIf="control.hasError('number')">
                                Debe contener al menos un número <br>
                            </ng-container>
                            <ng-container *ngIf="control.hasError('specialChar')">
                                Debe contener al menos un carácter especial <br>
                            </ng-container>

                        </ng-template>

                        <ng-template #passwordConfirmError let-control>
                            <ng-container *ngIf="control.hasError('required')">
                                ¡Favor de ingresar la confirmación de la contraseña!
                            </ng-container>

                            <ng-container *ngIf="control.hasError('confirm')">
                                Las contraselas deben coincidir

                            </ng-container>
                        </ng-template>

                        <form nz-form [formGroup]="signUpForm" class="login-form" nzLayout="vertical"
                            (ngSubmit)="submitForm()">
                            <nz-form-item>
                                <nz-form-label nzRequired nzFor="name">Nombre</nz-form-label>
                                <nz-form-control nzErrorTip="¡Favor de ingresar tu nombre!">
                                    <input type="text" nz-input formControlName="name" placeholder="Nombre" id="name">
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label nzRequired nzFor="last_name">Apellido</nz-form-label>
                                <nz-form-control nzErrorTip="¡Favor de ingresar tu apellido!">
                                    <input type="text" nz-input formControlName="last_name" placeholder="Apellido"
                                        id="last_name">
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label>País</nz-form-label>
                                <nz-form-control>
                                    <nz-select formControlName="country_id">
                                        <nz-option nzLabel="México" [nzValue]="1"></nz-option>
                                        <nz-option nzLabel="Estados Unidos" [nzValue]="2"></nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label nzRequired nzFor="company">Empresa</nz-form-label>
                                <nz-form-control nzErrorTip="¡Favor de ingresar tu empresa!">
                                    <input type="text" nz-input formControlName="company" placeholder="Empresa"
                                        id="company">
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label nzRequired nzFor="email">Correo electrónico</nz-form-label>
                                <nz-form-control [nzErrorTip]="emailError">
                                    <input type="text" nz-input formControlName="email" placeholder="Correo electrónico"
                                        id="email">
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label nzRequired nzFor="password">Contraseña</nz-form-label>
                                <nz-form-control [nzErrorTip]="passwordError">
                                    <input type="password" nz-input formControlName="password" placeholder="Contraseña"
                                        id="password">
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label nzFor="checkPassword" nzRequired>Confirma tu contraseña</nz-form-label>
                                <nz-form-control [nzErrorTip]="passwordConfirmError">
                                    <input nz-input type="password" formControlName="checkPassword"
                                        placeholder="Confirmar contraseña" id="checkPassword">
                                </nz-form-control>
                            </nz-form-item>
                            <div
                                class="d-flex align-items-center justify-content-center align-items-center flex-column">
                                <nz-form-item>
                                    <nz-form-control>
                                        <label nz-checkbox formControlName="agree">
                                            <span>Al hacer clic aquí, declaro que he leído y entendido los <a>términos y
                                                    condiciones</a></span>
                                        </label>
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-control>
                                        <div>
                                            <button nz-button class="login-form-button" [nzType]="'primary'"
                                                [disabled]="signUpForm.invalid">Sign Up</button>
                                        </div>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </form>
                    </nz-card>
                </div>
            </div>
        </div>
        <div class="d-none d-md-flex p-h-40 justify-content-between">
            <span class="">© 2019 ThemeNate</span>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="text-dark text-link" href="">Legal</a>
                </li>
                <li class="list-inline-item">
                    <a class="text-dark text-link" href="">Privacy</a>
                </li>
            </ul>
        </div>
    </div>
</div>